@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

*{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-family: 'PT Sans', sans-serif;
}
body{
    height: 100%;
    background-color: whitesmoke;
    
}

.header{
    width: 80%;
    height: 50px;
    background: whitesmoke;
    display: grid;
    grid-template-columns: 5% 30% 65%;
    grid-template-rows: 50px;
    grid-template-areas: "logo hleft hright";
    align-items: center;
   
    background:#0fad33;
    width: 100%;
   
}
.logo{
    margin-left: 70px;
}
.hleft{
     width: 100%;
    height: 50px;
    display: grid;
    grid-template-areas:"button hleftwo";
     grid-template-columns: repeat(2,120px);
      grid-template-rows: 50px;
      margin-left: 102px;
     
    
     
}
#button{
 background: transparent;
 border: none;
 transition: .4s ease-in-out;
 border: 1px solid white;
 color: white;
 width: 120px;
}
#button:hover{
    color: green;
    background-color: white;
}
.hleftwo {
    display: grid;
    align-self: center;
    text-decoration: none;
    border: 1px solid white;
    grid-template-rows: 50px;
    text-align: center;
    width: 120px;
    align-items: center;
    transition: .4s ease-in-out;
    border-left: none;
    background-color: #0fad33;
}

.hleftwo:hover{
    color: green;
     background: white;
}
.hright  {
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-areas: "hlogin hprofil hshop hana";
    grid-template-rows: 50px;
    font-size: 18pt;
    align-items: center;
    justify-self: end;
    
}
.icon{
 color: white;
}
.bkutu{
    
    display: grid;
    width: 78.5%;
    height:100%;
    background: whitesmoke;
    margin: 0px 0px 0px 170px;
    align-items: center;
    border-top: 1px solid black;
    grid-template-areas: "contentone"
    "contentwo"
    "contenthree"
    "contentfour"
    "contentfive"
    "contentsix"
    "contentsvn";
    grid-template-columns:100%;
    grid-template-rows: repeat(autofill,80px);
    grid-gap: 10px;
    padding: 10px 10px;

}
.contentone , .contentwo , .contenthree , .contentfour , .contentfive , .contentsix , .contentsvn{
    display: grid;
     border: 1px solid black;
     padding: 20px 20px;
     background-color: darkgoldenrod;
     

}
.contentone{
    
    grid-template-areas: "coneleft coneright" ;
    grid-template-columns: 3% 97%;
}
.contentwo{
  
    grid-template-areas: "ctwoleft ctworight" ;
    grid-template-columns: 3% 97%;
}

.contenthree{
   
    grid-template-areas: "cthreeleft cthreeright" ;
    grid-template-columns: 3% 97%;
}

.contentfour{
    
    grid-template-areas: "cfourleft cfouright" ;
    grid-template-columns: 3% 97%;
}

.contentfive{
    
    grid-template-areas: "cfiveleft cfiveright" ;
    grid-template-columns: 3% 97%;
}
.contentsix{
    
    grid-template-areas: "csixleft csixright" ;
    grid-template-columns: 3% 97%;
}
.contentsvn{
    
    grid-template-areas: "csvnleft csvnright" ;
    grid-template-columns: 3% 97%;
}
.icon:hover{
animation:bigger .4s ease-in-out;
animation-fill-mode: both;
}
@keyframes bigger{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
