@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
*{
  font-family:'PT Sans', sans-serif;
}


body{
     background-attachment: fixed;
          background-size: 100%;
}



.kutu{
    display: grid;
    width: 50%;
    height: 100vh;
    opacity: 0.93;
    background: whitesmoke;
    grid-template-areas: "yazi"
    "btn"
    "bildiri"
    "input"
    "yeni_sifre"
    "giris"
    
    ;
    margin: 50px auto;
    grid-template-rows: 10% 20% 10% 10% 20% 10% 10%;
    grid-gap: 4%;
    padding: 2% 2%;
    outline: none;
 }

.yazi ,  .btn, .input , .yeni_sifre , .giris {
 display: grid;
 
 
}
.yazi{
    text-align: center;
  font-weight: 700;
  
}
.btn{
    grid-template-areas: "btn1"
    "btn2";
   grid-gap: 10%;
   
}
.btn1 , .btn2{
    background:white;
   color: #0fad33;
   border: 1px solid #0fad33;
   border-radius: 5px;
   transition: .4s ease-in-out;
}
.btn1:hover , .btn2:hover , .buton:hover{
    background: #0fad33;
    color: white;
}
.bildiri{
    
    display: none;
    text-align: left;
   
    align-items: end;
    
}
.input{
    grid-template-areas: "metin buton";
    grid-gap: 20px;
}
.metin{
    display: grid;
    border: 1px solid #0fad33;
     border-radius: 5px;
}
.buton{
    display: grid;
    background: white;
    color:#0fad33;
    align-items: center;
    border: 1px solid #0fad33;
    border-radius: 5px;
}

.yeni_sifre{
    
    grid-template-areas: "label pinput" 
    "labell pinputt";
    grid-template-columns: 25% 75%;
    grid-row-gap: 10px;
    
}
.yeni_sifre label{
text-align: center;

align-self: center;
}
.pinput{
    display: grid;
    border: 1px solid #0fad33;
}

.giris {
    
    grid-template-areas: "kaydet login";
    transition: .4s ease-out;
    column-gap: 10px;
   
    
}

.kaydet{
    background: #0fad33;
    color: white;
    transition: .4s ease-out;
    border-radius: 5px;
    
}
.kaydet:hover{
    cursor: pointer;
    transform: scale(1.05);
    
}
.giris a{
    display: grid;
 text-decoration: none;
    color: #0fad33;
    text-align: center;
    align-items: center;
    border: 1px solid #0fad33;
    border-radius: 5px;
}
.giris a:hover{
 background: #0fad33;
 color: white;
 
}